<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.todolist">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".TodoApplication"
        android:icon="@drawable/ic_todo_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_todo_launcher"
        android:supportsRtl="true"
        android:theme="@style/LightMaterialTheme">

        <activity android:name=".list.ui.TodoListActivity"/>

        <activity android:name=".TodoSplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>